{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">

        <div>
            <h2>Créer une sortie</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn-primary" name="Enregistrer" value="Enregistrer">
                {{ form_end(form) }}
        </div>

        <div>
            <input type="submit" class="btn-success"name="Publier" value="Publier la sortie">
        </div>
        <div>
            <a href="{{ path('welcome') }}"><button class="btn-warning">Annuler</button></a>
        </div>

    </div>

{% endblock %}
